ul {
  padding: 0px;
}
:host ::ng-deep .p-card {
  margin: 1rem;
}
:host ::ng-deep .p-float-label {
  display: inline;
}
/* aggregated-feed.component.css */
.saved-search-term {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

.saved-search-term.active {
  background-color: #007ad9;
  color: #fff;
}
