<!-- AggregatedFeedComponent.html -->
<div class="m-3">
  <div>
    <p-menubar>
      <ng-template pTemplate="start">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i
          ><input
            id="search"
            type="text"
            placeholder="search"
            pInputText
            [(ngModel)]="searchTerm"
            (ngModelChange)="filterFeedItems()"
        /></span>

        <p-calendar
          class="ml-3"
          [(ngModel)]="rangeDates"
          selectionMode="range"
          placeholder="Dates"
          inputId="dateRange"
          [showIcon]="true"
          (ngModelChange)="filterFeedItems()"
        ></p-calendar
        ><p-multiSelect
          class="ml-3"
          [options]="multiSelectOptions"
          [(ngModel)]="selectedUrls"
          placeholder="Select Feeds"
          optionLabel="label"
          optionValue="value"
          (onChange)="filterFeedItems()"
        ></p-multiSelect> </ng-template
    ></p-menubar>
  </div>

  <div class="mt-3" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="!loading">
    <div *ngFor="let item of filteredItems" class="card">
      <p-card>
        <div class="p-card-title">{{ item.title }}, {{ item.name }}</div>
        <div class="p-card-subtitle">{{ item.pubDate | date }}</div>
        <div
          class="p-card-content"
          [innerHTML]="item.content || item.description"
        ></div>
      </p-card>
    </div>
  </div>
</div>
