<!-- AggregatedFeedComponent.html -->
<div class="m-3">
  <div>
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-inputGroup>
          <input
            id="search"
            type="text"
            placeholder="Search"
            pInputText
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchTermChange()"
          /><p-inputGroupAddon>
            <i
              class="pi"
              [ngClass]="isSavedSearch() ? 'pi-bookmark-fill' : 'pi-bookmark'"
              style="cursor: pointer"
              (click)="saveSearch()"
            >
            </i>
          </p-inputGroupAddon>
        </p-inputGroup>

        <p-calendar
          class="ml-3"
          [(ngModel)]="dateRange"
          selectionMode="range"
          placeholder="Dates"
          inputId="dateRange"
          [showIcon]="true"
          (ngModelChange)="filterFeedItems()"
        ></p-calendar>
        <p-multiSelect
          class="ml-3"
          [options]="multiSelectOptions"
          [(ngModel)]="selectedFeedUrls"
          placeholder="Select Feeds"
          optionLabel="label"
          optionValue="value"
          (onChange)="filterFeedItems()"
        ></p-multiSelect>
      </div>
    </p-toolbar>
  </div>

  <div class="mt-3">
    <p>Saved Searches:</p>
    <p-selectButton
      [options]="savedSearchOptions"
      [(ngModel)]="selectedSavedSearchTerms"
      [multiple]="true"
      optionLabel="label"
      optionValue="value"
      (onChange)="applySavedSearchTerms()"
    ></p-selectButton>
  </div>
  <div class="mt-3" *ngIf="isLoading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="!isLoading">
    <div *ngFor="let item of filteredFeedItems" class="card">
      <p-card class="custom-card">
        <ng-template pTemplate="title">
          <div class="p-card-title">{{ item.title }}</div>
        </ng-template>
        <ng-template pTemplate="subtitle">
          <div class="p-card-subtitle">
            {{ item.pubDate | date : "fullDate" }}
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div
            class="p-card-content"
            [innerHTML]="getLimitedLines(item.content || item.description, 20)"
          ></div>
          <a [href]="item.link" target="_blank" class="p-card-link">
            <i class="pi pi-external-link" aria-hidden="true"></i>
          </a>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
