ul {
  padding: 0px;
}
:host ::ng-deep .p-card {
  margin: 1rem;
}
:host ::ng-deep .p-float-label {
  display: inline;
}
/* aggregated-feed.component.css */
.p-card-link {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  border: full 1px black;
}
