<!-- AggregatedFeedComponent.html -->
<div class="m-3">
  <div class="p-3 flex">
    <p-floatLabel
      ><input
        id="search"
        type="text"
        pInputText
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterFeedItems()"
      /><label for="search">search</label></p-floatLabel
    >
    <p-floatLabel class="ml-3">
      <p-calendar
        [(ngModel)]="rangeDates"
        selectionMode="range"
        inputId="dateRange"
        [showIcon]="true"
        (ngModelChange)="filterFeedItems()"
      ></p-calendar
      ><label for="dateRange">Publication Date</label></p-floatLabel
    >
  </div>

  <div *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div *ngIf="!loading">
    <div *ngIf="noResultsFound">
      <p>No results found.</p>
    </div>
    <div *ngFor="let item of filteredItems" class="card">
      <p-card>
        <div class="p-card-title">{{ item.title }}</div>
        <div class="p-card-subtitle">{{ item.pubDate | date }}</div>
        <div
          class="p-card-content"
          [innerHTML]="item.content || item.description"
        ></div>
      </p-card>
    </div>
  </div>
</div>
