<div class="container-pihole">
  <div class="formgrid grid">
    <div class="field col" *ngIf="summary">
      <p-card header="Domains Being Blocked">
        <div class="card-content">{{ summary.domains_being_blocked }}</div>
      </p-card>
    </div>

    <div class="field col" *ngIf="summary">
      <p-card header="DNS Queries Today">
        <div class="card-content">{{ summary.dns_queries_today }}</div>
      </p-card>
    </div>

    <div class="field col" *ngIf="summary">
      <p-card header="Queries Blocked Today">
        <div class="card-content">{{ summary.ads_blocked_today }}</div>
      </p-card>
    </div>
  </div>
</div>
