<div class="dashboard">
    <div class="p-grid">
      <div class="p-col-12 p-md-4">
        <p-card>
          <div class="card-content">
            <h2>{{ summary?.dns_queries_today }}</h2>
            <p>2 active clients</p>
          </div>
        </p-card>
      </div>
      
      <div class="p-col-12 p-md-4">
        <p-card>
          <div class="card-content">
            <h2>{{ summary?.ads_blocked_today }}</h2>
            <p>List blocked queries</p>
          </div>
        </p-card>
      </div>
    
      <div class="p-col-12 p-md-4">
        <p-card>
          <div class="card-content">
            <h2>{{ summary?.ads_percentage_today }}%</h2>
            <p>List all queries</p>
          </div>
        </p-card>
      </div>
    </div>
  </div>
  